*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(240, 224, 255);
}

textarea {
  padding: 15px;
  border-radius: 12px;
}

textarea,
input,
button {
  font: inherit;
}

button {
  background-color: transparent;
  border: none;
}

input {
  padding: 5px;
}

h1 {
  text-decoration: underline;
}

h2 {
  margin-top: 0;
}

ul {
  padding: 0px;
  list-style: none;
}

.input-frequency {
  &:focus {
    background-color: darkgray;
    color: white;
    outline-color: blue;
  }
}

.palindrome-link {
  color: inherit;
  margin-bottom: 5px;

  &:hover {
    text-decoration: none;
  }
}

.button {
  background-color: #666;
  color: #fff;
  padding: 5px 10px;
  width: 320px;
  display: flex;
  flex-direction: row;
  border: solid;
  border-width: 1px;
  border-color: black;
  align-self: flex-end;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
    color: black;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.form-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;

  textarea {
    height: 200px;
    border: 4px solid #666;
    background-color: #333;
    color: #fff;
    font-size: 0.8rem;
    font-family: Consolas, monospace;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.analysis {
  display: none;
  flex-direction: column;
  gap: 10px;

  &.show {
    display: flex;
  }
}

.analysis__item {
  border-radius: 12px;
  padding: 10px;
  border: 2px solid #333;
  background-color: rgb(191, 165, 252);

  .analysis-titles {
    font-size: 20px;
  }
}

.frequencies-list {
  display: flex;
  flex-direction: row;
  gap: 10px;

  input {
    width: 110px;
  }
}

.camel-case-text,
.kebab-case-text,
.snake-case-text {
  word-wrap: break-word;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #222;
}

input:focus + .slider {
  box-shadow: 0 0 1px #222;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.palindromes a {
  display: block;
}
